<link rel="stylesheet" href="/AbarrotesJuarez/FrontEnd/Components/SideMenu/sidemenu.css">

<div class="sidemenu-container">
    <button contenido="ventas">
        <img src="/AbarrotesJuarez/FrontEnd/Api/Photos/ventas.png" alt="ventas" class="btn-icon">
        VENTAS
    </button>
    <button contenido="ganancias">
        <img src="/AbarrotesJuarez/FrontEnd//Api/Photos/ganancias.png" alt="ganancias" class="btn-icon">
        GANANCIAS
    </button>
    <button contenido="inventario">
        <img src="/AbarrotesJuarez/FrontEnd//Api/Photos/inventario.png" alt="inventario" class="btn-icon">
        INVENTARIO
    </button>
    <button contenido="analisis">
        <img src="/AbarrotesJuarez/FrontEnd//Api/Photos/analisis.png" alt="analisis" class="btn-icon">
        ANALISIS
    </button>
</div>


<script type="module" src="Components/SideMenu/sidemenu.js"></script>
