#inp-escaner {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    width: 800px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px gray;
    padding-left: 15px;
    font-size: 28px;
    color:  black;
}

#inp-escaner::placeholder {
    font-size: 28px;
    color: gray;
    
}

#btn-ajustar {
    margin-left: 418px;
    margin-bottom: 0px;
    width: 182px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px gray;
    font-size: 28px;
    background-color: #27AE60;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#btn-ajustar:hover {
    background-color: #1E8449;
}

#tbl-inventario {
    width: 1405px;
    height: 80px;
    line-height: 40px;
    font-size: 18px;
    border-collapse: collapse;
    text-align: center;
}

#tbl-inventario th {
    color: white;
    background-color: #2C3E50;
}

#tbl-inventario th:first-child {
    border-top-left-radius: 5px;
}

#tbl-inventario th:last-child {
    border-top-right-radius: 5px;
}

#tbl-inventario td{
    font-size: 18px;
}

.div-inventario {
    margin-left: 15px;
    width: 1405px;
    height: 515px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px gray;
    background-color: white;
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
