<link rel="stylesheet" href="/AbarrotesJuarez/FrontEnd/Components/Inventario/inventario.css">

<input type="text" id="inp-escaner" placeholder="Ingresa codigo de barras / nombre del producto">

<button id="btn-filtrar">FILTRAR</button>

<button id="btn-ajustar">AJUSTAR</button>

<button id="btn-agregar">AGREGAR</button>

<div class="div-inventario">
    <table id="tbl-inventario">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Categoria</th>
                <th>Última modificación</th>
                <th>Peso (g)</th>
                <th>Unidades</th>
                <th>Precio</th>
            </tr>
        </thead>
            <tbody>
            </tbody>
    </table>
</div>
