<link rel="stylesheet" href="/AbarrotesJuarez/FrontEnd/Components/inventario/inventario.css">

<input type="text" id="inp-escaner" placeholder="Ingresa codigo de barras / nombre del producto">

<button id="btn-ajustar">AJUSTAR</button>

<div class="div-inventario">
    <table id="tbl-inventario">
        <thead>
            <tr>
                <th>Upc</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Peso (g)</th>
                <th>Categoria</th>
                <th>Proveedor</th>
                <th>Fecha de caducidad</th>
                <th>Última modificación</th>
                <th>Unidades</th>
                <th>Precio</th>
            </tr>
        </thead>
            <tbody>
            </tbody>
    </table>
</div>

<div id="modal-ajustar" class="modal" style="display:none;">
    <div class="modal-content">
        <h2>Ajustar precio</h2>

        <label>Artículo:</label>
        <select id="sel-articulo"></select>

        <label>Precio actual:</label>
        <input type="text" id="precio-actual" readonly>

        <label>Nuevo precio:</label>
        <input type="number" id="nuevo-precio">

        <div class="modal-buttons">
            <button id="btn-confirmar">CONFIRMAR</button>
            <button id="btn-cancelar">CANCELAR</button>
        </div>
    </div>
</div>
