<link rel="stylesheet" href="/AbarrotesJuarez/FrontEnd/Components/Ganancias/ganancias.css">

<button id="btn-contado">CONTADO</button>

<button id="btn-saldo">SALDO</button>

<button id="btn-exportar">EXPORTAR</button>

<div class="div-ganancias">

    <div class="div-kpis">

        <table id="tbl-kpiGanancia">
            <tr>
                <th>GANANCIAS</th>
            </tr>
            <tr>
                <td>44.00</td>
            </tr>
        </table>

        <table id="tbl-kpiArticulos">
            <tr>
                <th>ARTICULOS VENDIDOS</th>
            </tr>
            <tr>
                <td>2</td>
            </tr>
        </table>

        <table id="tbl-fechaInicio">
            <tr>
                <th>FECHA INICIO</th>
            </tr>
            <tr>
                <td><input type="date" id="inp-fechaInicio"></td>
            </tr>
        </table>

        <table id="tbl-fechaFin">
            <tr>
                <th>FECHA FIN</th>
            </tr>
            <tr>
                <td><input type="date" id="inp-fechaFin"></td>
            </tr>
        </table>
    </div>

    <div class="div-contenido">

        <table id="tbl-ganancias">
            <thead>
                <tr>
                    <th>Registro</th>
                    <th>Fecha de la venta</th>
                    <th>Método de pago</th>
                    <th>Artículo</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <!--<tr>
                <td>1</td>
                <td>08/09/2025</td>
                <td>Efectivo</td>
                <td>Takis</td>
                <td>2</td>
                <td>44.00</td>
            </tr>-->
            <tbody>
            </tbody>
        </table>
    </div>
</div>

